* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.home-container {
  min-height: 100vh;
  background-color: #131313;
}

.posterContainer {
  height: 55vh;
  background-size: cover;
}
.title-container {
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 60vh;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(24, 24, 24, 0.546875) 38.26%,
    #131313 92.82%,
    #131313 98.68%,
    #131313 108.61%
  );
}
@media screen and (min-width: 768px) {
  .title-container {
    padding-left: 90px;
  }
}
@media screen and (min-width: 768px) {
  .overview {
    width: 40%;
  }
}
.title {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 32px;
}
.overview {
  color: #ffffff;
  margin-top: 18px;
  margin-bottom: 20px;
}
.play-btn {
  height: 35px;
  width: 80px;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  border: 0;
  border-radius: 6px;
}
.load-container {
  padding: 30px;
}
.card-load {
  background-color: #0d0d0d;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.isprosee {
  color: #ffffff;
}
.try-again {
  width: 80px;
  height: 32px;
  margin-top: 8px;
  border: 0;
  border-radius: 6px;
}
